body {
  background-image: url("../assets/images/background.jpg");
  background-size: 100% auto;
}
content {
  text-align: center;
}

table {
  width: 100%;
}

/*Targets the menu item named */
tr :nth-child(1) {
  text-align: left;
}

/*Targets Prices of the menu*/
tr :nth-child(2) {
  text-align: right;
}

.signatureItem {
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 3% 17%;
  background-color: rgb(244, 164, 4);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.signatureImage {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.signatureContent {
  padding: 15px;
}

h1,
.headingBorder {
  color: white;
  -webkit-text-stroke: 1px black;
}

td {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}
